@import url(https://db.onlinewebfonts.com/c/2ade689621e1220b228ad4caae3db308?family=ReloadAlt-Light);


.login{
    width: 50%;
    height: 65%;
}

.pane{
    display: flex;
    justify-content: center;
    align-items: center;
}


.login{
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    z-index: 10000;
    flex-direction: column;
}

.loginwrap{
    width: 80%;
}

label {
    width: 60%;
    text-align: left;
    display: block;
  

  }





  button:hover {
    background-color: #0056b3;
  }
  

  .login h1{
    font-family: "ReloadAlt-Light";
    font-size: 2vw;
    padding-bottom: 2vw;
    text-align: center;

  }